<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Naz.Hastane.QueueDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Naz.Hastane.QueueDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Naz.Hastane.QueueDisplay.Properties.Settings>
            <setting name="DoctorID" serializeAs="String">
                <value>0137</value>
            </setting>
        </Naz.Hastane.QueueDisplay.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Naz.Hastane.QueueDisplay.Properties.Settings>
            <setting name="ImageFileName" serializeAs="String">
                <value>UfukOzturk.jpg</value>
            </setting>
        </Naz.Hastane.QueueDisplay.Properties.Settings>
    </applicationSettings>
</configuration>
