<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Naz.Hastane.Medula.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Naz.Hastane.Medula.Properties.Settings>
            <setting name="Naz_Medula_RaporIslemleri_RaporIslemleriService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/RaporIslemleri</value>
            </setting>
            <setting name="Naz_Medula_YardimciIslemler_YardimciIslemlerService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/YardimciIslemler</value>
            </setting>
            <setting name="Naz_Medula_TakipFormuIslemleri_TakipFormuIslemleriService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/TakipFormuIslemleri</value>
            </setting>
            <setting name="Naz_Medula_FaturaKayitIslemleri_FaturaKayitIslemleriService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/FaturaKayitIslemleri</value>
            </setting>
            <setting name="Naz_Medula_HastaKabulIslemleri_HastaKabulIslemleriService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/HastaKabulIslemleri</value>
            </setting>
            <setting name="Naz_Medula_HizmetKayitIslemleri_HizmetKayitIslemleriService"
                serializeAs="String">
                <value>http://medula.sgk.gov.tr:80/medulaws/services/HizmetKayitIslemleri</value>
            </setting>
        </Naz.Hastane.Medula.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HastaKabulIslemleriSoapBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://saglikt.sgk.gov.tr:80/medulaws/services/HastaKabulIslemleri"
                binding="basicHttpBinding" bindingConfiguration="HastaKabulIslemleriSoapBinding"
                contract="HastaKabulIslemleri.HastaKabulIslemleri" name="HastaKabulIslemleri" />
        </client>
    </system.serviceModel>
</configuration>