<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="meno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ProvizyonIslemleri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <meno.Properties.Settings>
            <setting name="meno_MyWSDL_A00_ProvizyonIslemleriService" serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/ProvizyonIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_B00_SevkBildirimIslemleriService"
                serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/SevkBildirimIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_C00_OdemeBilgisiIslemleriService"
                serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/OdemeBilgisiIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_C01_OdemeDurumKontrolIslemleriService"
                serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/OdemeDurumKontrolIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_E00_FaturaBilgisiIslemleriService"
                serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/FaturaBilgisiIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_F00_RaporIslemleriService" serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/RaporIslemleri</value>
            </setting>
            <setting name="meno_MyWSDL_OTHER_YardimciIslemlerService" serializeAs="String">
                <value>http://saglik.sgk.gov.tr:80/saglikws/services/YardimciIslemler</value>
            </setting>
        </meno.Properties.Settings>
    </applicationSettings>
</configuration>