<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Naz.Hastane.Reports.Properties.Settings.TIPDATAConnectionString"
            connectionString="Data Source=AYDINLAPTOP;Initial Catalog=TIPDATA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>